{% extends '@SyliusShop/Account/layout.html.twig' %}

{% block breadcrumb %}
    {% include '@SyliusShop/Account/Order/Show/_breadcrumb.html.twig' %}
   
     {% for job in metier %}
        <div class="brown mb-3 font-choix-metier">
                    <p  class="white center">L'emploi que vous recherchez pour votre <span class="black">{{ job.product.name }}</span> est {{ job.metier }}. </p>
                    <p class="white center">Bonne chance dans vos recherches !</p>
            </div>
            {% endfor %}
{% endblock %}

{% block subcontent %}
    {{ sylius_template_event('sylius.shop.account.order.show.subcontent', _context) }}
{% endblock %}
