{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}

    <h1 class="center">À propos</h1>
    <p class="center">
        Artiste peintre et développeur web , j'ai pensé que pour faciliter la recherche d'emploi il fallait être vu.
    </p>
    <p class="center">
        Après avoir fait des courses dans un supermarché et croisé beaucoup de monde alors que j'étais à ce moment à la recherche d'un emploi, je me suis dit qu'il était dommage 
        que les gens que j'ai croisé n'aient pas su quelle était ma condition.
        Un double challenge s'annonçait.Celui de développer une application e-commerce associée à une réelle utilité sociale.C'est à ce moment que JobShirt est né.
        Je lance donc le site avec le principe du dropshipping. Je m'occupe de l'aspect visuel, du développement du site (techniquement et commercialement) et je laisse le soin
        à des spécialistes de produire les vêtements et de les expedier.
    </p>
{% endblock %}