<div class="ui very padded center aligned secondary segment">
    <div class="ui centered grid">
        <div class="sixteen wide tablet twelve wide computer center aligned column">
            <h2 class="ui huge header">
               Qui sommes nous ?
            </h2>
            <p>
               Une entreprise de merde.
            </p>
        </div>
    </div>
</div>
