{# cet element permet d'afficher une banière entre le menu de navigation et les derniers produits #}
{# <img class="ui fluid image" src="{{ asset('assets/shop/img/homepage-banner.jpg') }}" alt="Sylius"> #}
{% include '@SyliusShop/_animation.html.twig' %}
<div class="ui hidden divider"></div>